@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Tagesschrift&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(155, 246, 197);
    margin: 10px;
    padding: 10px;
    font-family: Tagesschrift;
    text-align: center;
}

.pict {
    display: flex;
    justify-content: space-evenly;
}

.gifk {
    width: 200px;
    height: auto;
}

.me {
    width: 400px;
    height: auto;
    border-radius: 100px;
}

.logotype {
    position: relative;
    color: #63a031;
    letter-spacing: 3px;
    display: inline-block;
    line-height: 50px;
    font-size: 54px;
    font-family: 'Russo One', sans-serif;
    font-variant: small-caps;
    transition: color 0.3s ease-in-out;
    text-shadow: 1px 1px #fffcf5, 3px 3px;
    margin-bottom: 50px;

}
.logotype b {
    font-variant: normal;
}

.logotype div {
    position: absolute;
    font-size: 24px;
    text-shadow: 1px 1px #fffcf5;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0;
    left: 0;
    white-space: nowrap;
    transform: translateX(0);
}

.logotype:hover {
    color: #1d742f;
}

.logotype:hover div {
    left: 100%;
    transform: translateX(-100%);
}

.who {
    background-color: rgba(71, 189, 96, 0.5);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    color:rgb(244, 244, 248);
    background-image: url("me4.jpg");
    text-align: left;
    padding: 100px;
}

.who>div {
    background-color: rgba(41, 54, 44, 0.5);
    width: 300px;
    padding: 10px;
    border-radius: 16px;
    margin-left: 80px;
}

ul {
    background-color: rgb(52, 164, 129);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 450px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.Tr {
    background-color: #a9f0b8;
    padding: 10px;
    border-radius: 20px;
    animation: 1s ease;
}

.Tr>a {
    color: #000000;
    text-decoration: none;
}

.Tr:hover {
    background-color: #cde1ee;
}

.Tr:active {
    background-color: #a9cce8;
}
.Mom {
    background-color: #a9f0b8;
    padding: 10px;
    border-radius: 20px;
    color: #2E3532;
    text-decoration: none;
    animation: 1s ease;
}

.Mom>a {
    color: #000000;
    text-decoration: none;
}

.Mom:hover {
    background-color: #cde1ee;
}

.Mom:active {
    background-color: #a9cce8;
}

.Pr {
    background-color: #a9f0b8;
    padding: 10px;
    border-radius: 20px;
    color: #2E3532;
    text-decoration: none;
    animation: 1s ease;
}

.Pr>a {
    color: #000000;
    text-decoration: none;
}

.Pr:hover {
    background-color: #cde1ee;
}

.Pr:active {
    background-color: #a9cce8;
}

.planes {
    display: flex;
    justify-content: center;
    font-size: 34px;
    transition: 3s; 
}

.planes:hover .plane1{
    transition: transform 3s;
}
.planes:hover .plane2 {
    transition: transform 3s;
}

.planes:hover .plane2 {
    transform: translate(300px, 80px);
}

.planes:hover .plane1 {
    transform: translate(-300px, 80px);
}
.Trav {
    background-color: rgba(157, 213, 115, 0.5);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    background-image: url("photo_2022-01-18_07-43-02.jpg");
}

.pr>a {
    color: #000000;
    text-decoration: none;
}

.pr:hover {
    background-color: rgb(124, 171, 88);
    border-radius: 30px;
}

.pr:active {
    background-color: rgb(74, 101, 52);
    border-radius: 30px;
}

.mome {
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    background-image: url("soldatiki.jpg");
}

.mome1 {
    background-color: rgba(187, 170, 170, 0.5);
    border-radius: 60px;
    transition: box-shadow 0.1s; 
}

.mome1:hover {
    transition-delay: 0.5s;
    box-shadow: -10px 10px 0 0 rgba(61, 105, 16, 0.5);;
}

.Proj {
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    background-image: url("Proj.jpg");    
}


footer {
    background-color: rgba(42, 152, 47, 0.5);
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}

form {
    width: 600px;
    margin: 0 auto;
    border-radius: 24px;
    bottom: 2px solid #333;
    background-color: #8bd48c;
    padding: 10px 50px 50px 20px;
    display: block;
}

.submit-btn {
    margin: 10px auto;
    display: block;
    width: 240px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #3B8343;
    color: white;
    transition: 0.2s;
}

.submit-btn:hover {
    background-color: #8FCF65;
}

.input1 {
    background-color: #cae27a;
}